[submodule "webapollo"]
	path = webapollo
	url = https://github.com/erasche/docker-webapollo
[submodule "chado"]
	path = chado
	url = https://github.com/erasche/docker-linux-chado.git
[submodule "jbrowse"]
	path = jbrowse
	url = https://github.com/erasche/docker-jbrowse
[submodule "docker-drupal"]
	path = docker-drupal
	url = https://github.com/erasche/docker-drupal/
[submodule "drupal"]
	path = drupal
	url = https://github.com/erasche/docker-drupal
